Package: com.xplo8e.fridactrl
Name: Frida Ctrl
Version: 1.0
Depends: re.frida.server
Architecture: iphoneos-arm
Description: A simple utility to manage the Frida server port.
Maintainer: Xplo8E
Author: Xplo8E
Icon: fridactrl.png
Section: Utilities
